* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222228;
    color: #D0D3E3;
    font-family: 'Merriweather', serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

a {
    text-decoration: none;
    color: #D0D3E3;
}
